.navbar{
    background-color: lightseagreen;
    height: 10vh;
    box-sizing: border-box;
}
.navbar-brand{
    margin-left: 150px;
}
.logo{
    border-radius: 50%;
    border: 2px solid black;
}
.nav-item{
    width: 330px;
    justify-self: center;
}
.nav-link{
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
div.acc{
    width: 240px;
    margin-right: 0;
}
.avatar{
    border-radius: 50%;
}
.acc-info h5{
    margin:0;
    padding:0;
}
.acc-info p{
    margin:0;
    padding:0;
}
